<!DOCTYPE html>
<html>
<head>
  <title>Lista de Cómics</title>
</head>
<body>
  <h1>Lista de Cómics</h1>
  <ul>
    {{#each comics}}
    <li>
      <img src="{{image}}" alt="{{title}}" width="200" height="300">
      <h2>{{title}}</h2>
      <p>${{price}}</p>
      <p>{{description}}</p>
    </li>
    {{/each}}
  </ul>
</body>
</html>
